<h1>To join a family, you must know the family password. Ask the family admin, if they havn't already given this to you.</h1>

<form method="post" action = "/family/join">
Family Name:<input type="text" name="family_name">
Password:<input type="password" name="password">
<input type="submit" value="Join Your Family!" name="submit">
</form>