Home page, will display recent public(?) recipes, recent family recipes, 

<div class="container">
    <h2>Sinatra Template Default Page</h2>

    <div class="content">
      <h1>ToDo:</h1>
      <ol>
        <li>Hidden inputs for patches and deletes</li>
        <li></li>
        <li>Finish Layout(create header and footer)</li>
        <li>Validations: no blank inputs  </li>
        <li></li>
        <li>TEST EVERYTHING</li>
        <li>CSS</li>
        <li>*Populate ingredients?</li>
        <li>*CRUD ingredients?</li>
        <li>*Ruby Autocomplete form from database for ingredients? Or seperate file with an array of ingredients. load autocomplete from that file.</li>
      </ol>
    </div>

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>
</div>
